    *{
		margin: 0;
		padding: 0;
		font-size: 1em;
		font-family: 'Roboto', sans-serif;
		color: #fff;
	}

	body{
		background-color:rgb(24, 26, 27);
	}

	.result{
	    display: flex;
	    height: 100vh;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.prediction {
        height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1{
		margin: 50px 0 70px 0;
		font-size: 2em;
		font-weight: 900;
		padding: 0 50px;
		text-align: center;
	}

	form{
		width: 400px;
		background:rgb(38, 42, 43);
		border-radius:10px;
		padding: 50px 50px;
		margin-top: 8vh;
		box-shadow: rgb(27 140 131) 0px 0px 10px;
	}

	form label, form input, form select, button, a{
		display: block;
		width: 100%;
	}

	form input, form select, button, a{
		padding:15px 20px;
		box-sizing: border-box;
	}

	form input, form select{
		border-width: 2px;
		margin-bottom: 30px;
		border-style: none;
		border-bottom-style: solid;
		border-color: rgb(26, 134, 123);
		background-color: rgb(31, 33, 35);
	}

	#origin:invalid, #dest:invalid, ::placeholder{
		color: rgb(170, 163, 152);
	}

	a, button{
	    text-decoration: none;
		border-style: none;
		border-radius:4px;
		background-color:rgb(27, 140, 131);
		color:rgb(232, 230, 227);
		width: 40%;
		margin-left: 30%;
		transition: .35s ease-in-out;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
		font-weight: 700;
	}

	a{
	    margin:0;
	    width:auto;
	    margin-bottom:50px;
	}

	a:hover, button:hover{
		transition: .35s ease-in-out;
		box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.20);
		transform: translateY(-0.25em);
		cursor: pointer;
	}

	.input-row{
		display: flex;
		justify-content: space-between;
	}

	.input-row select{
		width: 45%;
	}

@media only screen and (max-width: 600px) {
  form{
        width: calc(100% - 100px);
		max-width: 400px;
		background:none;
		border-radius:0;
		padding: 0px 50px;
		margin-top: 0;
		box-shadow: none;
	}

	.input-row{
		display: block;
		justify-content: space-between;
	}

	.input-row select{
		width: 100%;
	}
}